.tracking_btn{
    background-color: #48B7B6;
    color: white;
    width: 36px;

}.tracking_gray_btn{
    background-color: #77C6CE;
    color: white;
    width: 36px;
    font-size:.5vw;
}
.tracking_2x_btn{
    background-color: #48B7B6;
    width: 75px;
    height: 30px;
    font-size:.5vw;
    color: white;
}
.tracking_work_btn{
    background-color: #48B7B6;
    width: 72px;
    height: 31px;
    font-size:.5vw;
    color: white;
}
.fa_locked_tracking{
    content: url(/aci_estimation/static/src/icon/locked_tracking.png);
}
.fa-locked-tracking-black{
    content: url(/aci_estimation/static/src/icon/locked_tracking_black.png);
}
.fa-black-working-tracking{
    content: url(/aci_estimation/static/src/icon/black_working_tracking.png);
}
.fa_working_tracking{
    content: url(/aci_estimation/static/src/icon/working_tracking.png);
}
.fa_todo_tracking{
    content: url(/aci_estimation/static/src/icon/todo_tracking.png);
}
.fa_finished_tracking{
    content: url(/aci_estimation/static/src/icon/finished_tracking.png);
}
@media (max-width:600px) {
    .fa_locked_tracking {padding-left:0px;}
}

