
.button_transparent {
  font-weight: normal;
  width: 40px !important;
  height: 40px;
  color: #198c75;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: Transparent;
}

.button_template {
  width: 10% !important;
  height: 10%;
  color: #ff6600;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #198c75;
  box-shadow: none;
  background-color: Transparent;
  float: center;
}

.button_template:hover {
  color: #ff6600;
  fill: #333333;
  border-radius: 8px;
  border: 1px solid #198c75;
  border-color: #2286090;
  background-color: #E6E6E6;
}


.button_transparent:active {
  color: #ff6600;
  fill: #333333;
  border-color: #2286090;
}

.button_transparent:hover {
  color: #ff6600;
  fill: #333333;
  border-radius: 8px;
  border: 1px solid #198c75;
  border-color: #2286090;
  background-color: #E6E6E6;
}

.button_change_image {
    background-color: transparent;
    margin: 0px -1px -1px 0px;
    padding: 0;
    min-width: 10px

}

.button_change_image:hover {
    color: #ff6600;
    border-radius: 8px;
    background-color: #E6E6E6;
    border-color: #198c75;
    border: 1px solid #198c75;

}

.button_transparent_block{
  color: #E6E6E6;
  background-color: Transparent;
  padding: 0;
  width: 40px !important;
  height: 40px;
}

.button_wkcenters_activity{
  width: 30% !important;
  position: none;
  float: left;
}

.button_wkcenters_activity:hover {
  position: relative;
  float: left;
}


.button_transparent_block:hover {
  color: #ff6600;
  background-color: #E6E6E6;
  border-color: #2286090;
  border-radius: 8px;
  border: 1px solid #198c75;
}

.o_info_tracking_working {
  font-weight: normal;
  color: #990017;
  width: 100% !important;
  height: 100%;
  margin: 0px -1px -1px 0px;
  padding: 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 15px black;
  background-color: #d1e4fc;
  text-align: center;
}

.box_spinner {
  font-weight: normal;
  width: 100% !important;
  height: 100%;
  position: none;
  float: left;
}
.counter_style{
    font-weight: bold;
    margin: 0px -1px -1px 0px;
    padding: 0px;
    border-radius: 1px;
    font-size: 15px;
    color: #333333;
}

.counter{
  color: #ff6600;
  font-size: 15px;
}


.size_column_tree{
  width: 20px !important;
  height: 20px;
  float: right;
}

.o_operator{
	float: center;
	font-family: Courier,sans-serif;
	color: #8258FA;
}


.o_progress{
	float: center;
	font-family: Courier,sans-serif;
	color: #27afd8;
	border-radius: 8px;
    border-color: #27afd8;
}

.border_right{
    border-right: 2px solid blue;
}

.border_left{
    border-left: 2px solid blue;
}

.fa-play_circle:before {
    content: "\f01d";
    font-size: 30px;
    padding: 0px;
}

.fa-pause-circles:before {
  content: "\f28b";
  font-size: 25px;
  padding: 0px;
}

.fa-locked:before {
  content: "\f023";
  font-size: 25px;
  padding: 0px;
}


.fa-cancel-circle:before {
  content: "\f057";
  font-size: 25px;
  padding: 0px;
}

.fa-finish-circle:before {
  content: "\f058";
  font-size: 25px;
  padding: 0px;
}

.fa-left-arrow:before {
  content: "\f0a8";
  font-size: 25px;
  padding: 0px;
}

.fa-sitemap-variant:before {
  content: "\f0e8";
  font-size: 30px;
  padding: 0px;
}

.fa-pause_new:before {
    content: "\f04c";
    font-size: 30px;
    padding: 0px;
}

.fa-user-new:before {
    content: "\f0c0";
    font-size: 30px;
    padding: 0px;
}

.fa-task:before {
    content: "\f0ae";
    font-size: 30px;
    padding: 0px;
}

.fa-manufact:before {
  content: "\f013";
  font-size: 15px;
  padding: 0px;
}

.fa-manufacts:before {
  content: "\f085";
  font-size: 15px;
  padding: 0px;
}

.fa-tagss-variant:before{
  content: "\f02c";
  font-size: 30px;
  padding: 0px;
}

.o_kanban_view.o_kanban_ungrouped .o_kanban_record_color{

  width: 300px;
  color: #ff6600;
  fill: #333333;
  border-radius: 8px;
  border: 1px solid #198c75;
  border-color: rgb(34,134,9);
  background-color: transparent;
  flex-flow: row wrap;

}

.o_kanban_view.o_kanban_ungrouped .step_status_ToDo_breadcrum
{
    background-color: #d1e4fc;
    color: #000000;
    border-color:#2ab6f7;
    height:60px;
    float:left;
}

.o_kanban_view.o_kanban_ungrouped.o_kanban_dashboard .o_maintenance_row_wrap {
    .o_kanban_record {
        width: 900px;
    }
}

.o_web_wkcenter_navbar_item {
        background-color: rgb(34,134,9);
    }

.button_tittle_kanban {
  font-weight: normal;
  width: 40px !important;
  height: 40px;
  color: #198c75;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: Transparent;
}

.button_tittle_text_kanban {
  font-weight: bold;
  font-family: Georgia;
  width: 40px !important;
  height: 40px;
  color: #198c75;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: Transparent;
}

.button_quality {
  font-weight: normal;
  width: 40px !important;
  height: 30px;
  color: #ffa040;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #ffa040;
}

.o_group_checkout {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}


.modal.o_technical_modal .modal-dialog.modal-lg .modal-content.model_login{
  width: 400px;
}

.fa-infinity{
    content: url(/aci_estimation/static/src/icon/infinity.png);
    width: 14px;
    height: 10px;
}
.fa-flash{
    content: url(/aci_estimation/static/src/icon/flash.png);
    width: 14px;
    height: 10px;
}
.fa-door-key{
    content: url(/aci_estimation/static/src/icon/key.png);
    width: 14px;
    height: 10px;
}

.fa-step{
    content: url(/aci_estimation/static/src/icon/step-icon.png);
    width: 40px;
    height: 40px;
}
.fa-step-xs{
    content: url(/aci_estimation/static/src/icon/step_black.png);
    width: 20px;
    height: 20px;
}
.fa-step-xxs{
    content: url(/aci_estimation/static/src/icon/step_black.png);
    width: 13px;
    height: 13px;
}
.fa-timeoff{
    content: url(/aci_estimation/static/src/icon/time.png);
    width: 20px;
    height: 18px;
}
.fa-timeoff-xs{
    content: url(/aci_estimation/static/src/icon/time.png);
    width: 13px;
    height: 13px;
}

.fa-gantt{
    content: url(/aci_estimation/static/src/icon/gantt.png);
    width: 20px;
    height: 20px;
}

.fa-quality{
    content: url(/aci_estimation/static/src/icon/quality_gray.png);
}
.fa-quality-sm{
    content: url(/aci_estimation/static/src/icon/fa-quality-sm.png);
}

.fa-step-transparent{
    content: url(/aci_estimation/static/src/icon/step-icon-transparent.png);
    width: 40px;
    height: 40px;
}

.fa-dashboard-leaves{
    content: url(/aci_estimation/static/src/icon/icon-leaves.png);
    width: 40px;
    height: 40px;
}
.fa-quantity-progress{
    content: url(/aci_estimation/static/src/icon/quantity_progress.png);
    width: 25px;
    height: 25px;
}

.fa-step-little{
    content: url(/aci_estimation/static/src/icon/step-icon.png);
    width: 30px;
    height: 30px;
}

.fa-finished-track{
    content: url(/aci_estimation/static/src/icon/fished_tracking_v1.png);
    width: 30px;
    height: 30px;
}

.fa-play_new{
    content: url(/aci_estimation/static/src/icon/Circle-icons-play.png);
    width: 30px;
    height: 30px;
}

.fa-stop_new{
    content: url(/aci_estimation/static/src/icon/button_pause.png);
    width: 25px;
    height: 25px;
}

.fa-lock_new{
    content: url(/aci_estimation/static/src/icon/padlock.png);
    width: 25px;
    height: 25px;
}

.fa-finish_new{
    content: url(/aci_estimation/static/src/icon/task-done-outline.png);
    width: 25px;
    height: 25px;
}

.fa-cancel_new{
    content: url(/aci_estimation/static/src/icon/cancel.png);
    width: 25px;
    height: 25px;
}

.fa-bulding-side{
    content: url(/aci_estimation/static/src/icon/multi_ubication.png);
    width: 35px;
    height: 35px;
}

.fa-work-order{
    content: url(/aci_estimation/static/src/icon/workorders.png);
    width: 40px;
    height: 40px;
}

.fa-manufacturer-order{
    content: url(/aci_estimation/static/src/icon/Mo.png);
    width: 40px;
    height: 40px;
}

.fa-step-order{
    content: url(/aci_estimation/static/src/icon/task.png);
    width: 40px;
    height: 40px;
}
.fa-workcenter{
    content: url(/aci_estimation/static/src/icon/user.png);
    width: 40px;
    height: 40px;
}

.fa-real-state{
    content: url(/aci_estimation/static/src/icon/real_state.png);
    width: 40px;
    height: 40px;
}

.fa-budget{
    content: url(/aci_estimation/static/src/icon/budget_two.png);
    width: 40px;
    height: 40px;
}

.fa-category{
    content: url(/aci_estimation/static/src/icon/category-icon.png);
    width: 40px;
    height: 40px;
}
.fa-category-white{
    content: url(/aci_estimation/static/src/icon/category-white-icon.png);
    width: 40px;
    height: 40px;
}

.fa-party{
    content: url(/aci_estimation/static/src/icon/party-icon-v2.png);
    width: 40px;
    height: 40px;
}

.fa-departament{
    content: url(/aci_estimation/static/src/icon/department.png);
    width: 40px;
    height: 40px;
}

.fa-quantity-alert{
    content: url(/aci_estimation/static/src/icon/quality_white.png);
    width: 30px;
    height: 30px;
}

.fa-time-tracking:before
{
content: url(/aci_estimation/static/src/icon/tracking.png);

}

.fa-clock-padlock-sm:before {
  content: url(/aci_estimation/static/src/icon/activity_configurator.svg);
    width: 17px;
    height: 10px;
}

/***  GENERAL BUTTONS ****/
.fa-validation-sm:before {
  content: url(/aci_estimation/static/src/icon/val.svg);
    width: 17px;
    height: 10px;
}
.fa-step-sm:before {
  content: url(/aci_estimation/static/src/icon/stp.svg);
    width: 17px;
    height: 10px;
}
.fa-step-blue-sm:before {
  content: url(/aci_estimation/static/src/icon/stp_blue.svg);
    width: 17px;
    height: 10px;
}
.fa-workorder-sm:before {
  content: url(/aci_estimation/static/src/icon/wo.svg);
    width: 17px;
    height: 10px;
}
.fa-distribution-sm:before {
  content: url(/aci_estimation/static/src/icon/dis.svg);
    width: 17px;
    height: 10px;
}
.fa-estimation-sm:before {
  content: url(/aci_estimation/static/src/icon/est.svg);
    width: 17px;
    height: 10px;
}
.fa-estimation-blue-sm:before {
  content: url(/aci_estimation/static/src/icon/est_blue.svg);
    width: 17px;
    height: 10px;
}
.fa-activity-sm:before {
  content: url(/aci_estimation/static/src/icon/act.svg);
    width: 17px;
    height: 10px;
}
.fa-activity-blue-sm:before {
  content: url(/aci_estimation/static/src/icon/act_blue.svg);
    width: 17px;
    height: 10px;
}
.fa-accumulated-sm:before {
  content: url(/aci_estimation/static/src/icon/acc.svg);
    width: 17px;
    height: 10px;
}
.fa-block-sm:before {
  content: url(/aci_estimation/static/src/icon/blo.svg);
    width: 17px;
    height: 10px;
}
.fa-input-sm:before {
  content: url(/aci_estimation/static/src/icon/inp.svg);
    width: 17px;
    height: 10px;
}
.fa-ite-sm:before {
  content: url(/aci_estimation/static/src/icon/ite.svg);
    width: 17px;
    height: 10px;
}
.fa-replanning-sm:before {
  content: url(/aci_estimation/static/src/icon/rep.svg);
    width: 17px;
    height: 10px;
}