.o_form_search {
    width: auto !important;
    float: right !important;
}
.o_tag_button {
    cursor: pointer;
    font-size: 13px;
}

.o_tag_selection {
    max-width: 8px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
